/* Light Theme - GitHub Quite Light*/

:root {
    /* Background Colors */
    --bgColor-default: #F5F5F5;
    --bgColor-inset: #EDEDF5;
    --bgColor-muted: #F2F8FC;
    --bgColor-transparent: #00000000;
    --bgColor-inverse: #010409;
    --bgColor-black: #010409;
    --bgColor-white: #ffffff;

    /* State/Intent Background Colors */
    --bgColor-accent-emphasis: #705697;
    --bgColor-accent-muted: rgba(151, 105, 220, 0.1);
    --bgColor-success-emphasis: #749351;
    --bgColor-success-muted: rgba(116, 147, 81, 0.15);
    --bgColor-danger-emphasis: #f1897f;
    --bgColor-danger-muted: rgba(241, 137, 127, 0.1);
    --bgColor-attention-emphasis: #d29922;
    --bgColor-severe-emphasis: #bd561d;
    --bgColor-done-emphasis: #8957e5;
    --bgColor-sponsors-emphasis: #bf4b8a;
    --bgColor-neutral-emphasis: #656c76;
    --bgColor-neutral-muted: #656c7633;

    /* Semantic State Background Colors */
    --bgColor-open-emphasis: var(--bgColor-success-emphasis);
    --bgColor-open-muted: var(--bgColor-success-muted);
    --bgColor-closed-emphasis: var(--bgColor-danger-emphasis);
    --bgColor-closed-muted: var(--bgColor-danger-muted);
    --bgColor-upsell-emphasis: var(--bgColor-done-emphasis);
    --bgColor-upsell-muted: var(--bgColor-done-muted);

    /* Foreground/Text Colors */
    --fgColor-default: #54494B;
    --fgColor-muted: #6D705B;
    --fgColor-disabled: #A6B39B;
    --fgColor-onEmphasis: #ffffff;
    --fgColor-onInverse: #54494B;
    --fgColor-link: #705697;
    --fgColor-black: #010409;
    --fgColor-white: #ffffff;
    --fgColor-closed: var(--fgColor-danger);
    --fgColor-open: var(--fgColor-success);
    --fgColor-upsell: var(--fgColor-done);

    /* State/Intent Foreground Colors */
    --fgColor-attention: #d29922;
    --fgColor-danger: #f85149;
    --fgColor-disabled: #656c7699;
    --fgColor-done: #ab7df8;
    --fgColor-muted: #9198a1;
    --fgColor-neutral: #9198a1;
    --fgColor-severe: #db6d28;
    --fgColor-sponsors: #db61a2;
    --fgColor-success: #3fb950;
    --fgColor-accent: var(--fgColor-link);


    /* Semantic State Foreground Colors */
    --fgColor-open: var(--fgColor-success);
    --fgColor-closed: var(--fgColor-danger);
    --fgColor-upsell: var(--fgColor-done);

    /* Border Colors */
    --borderColor-default: #adafb7;
    --borderColor-muted: rgba(151, 105, 220, 0.4);
    --borderColor-emphasis: #656c76;
    --borderColor-disabled: #adafb7;
    --borderColor-transparent: #00000000;
    --borderColor-translucent: #0000001a;

    /* State/Intent Border Colors */
    --borderColor-accent-emphasis: #9769dc;
    --borderColor-accent-muted: rgba(151, 105, 220, 0.6);
    --borderColor-success-emphasis: var(--bgColor-success-emphasis);
    --borderColor-success-muted: rgba(116, 147, 81, 0.4);
    --borderColor-danger-emphasis: var(--bgColor-danger-emphasis);
    --borderColor-danger-muted: rgba(241, 137, 127, 0.4);
    --borderColor-attention-emphasis: var(--bgColor-attention-emphasis);
    --borderColor-severe-emphasis: var(--bgColor-severe-emphasis);
    --borderColor-done-emphasis: var(--bgColor-done-emphasis);
    --borderColor-sponsors-emphasis: var(--bgColor-sponsors-emphasis);
    --borderColor-neutral-emphasis: var(--borderColor-emphasis);
    --borderColor-neutral-muted: var(--borderColor-muted);

    /* Border Shorthands */
    --border-default: 0.0625rem solid var(--borderColor-default);
    --border-muted: 0.0625rem solid var(--borderColor-muted);
    --border-emphasis: 0.0625rem solid var(--borderColor-emphasis);
    --border-disabled: 0.0625rem solid var(--borderColor-disabled);
    --border-transparent: 0.0625rem solid var(--borderColor-transparent);

    /* State/Intent Border Shorthands */
    --border-accent-emphasis: 0.0625rem solid var(--borderColor-accent-emphasis);
    --border-accent-muted: 0.0625rem solid var(--borderColor-accent-muted);
    --border-success-emphasis: 0.0625rem solid var(--borderColor-success-emphasis);
    --border-success-muted: 0.0625rem solid var(--borderColor-success-muted);
    --border-danger-emphasis: 0.0625rem solid var(--borderColor-danger-emphasis);
    --border-danger-muted: 0.0625rem solid var(--borderColor-danger-muted);
    --border-attention-emphasis: 0.0625rem solid var(--borderColor-attention-emphasis);
    --border-attention-muted: 0.0625rem solid var(--borderColor-attention-muted);
    --border-severe-emphasis: 0.0625rem solid var(--borderColor-severe-emphasis);
    --border-severe-muted: 0.0625rem solid var(--borderColor-severe-muted);
    --border-done-emphasis: 0.0625rem solid var(--borderColor-done-emphasis);
    --border-done-muted: 0.0625rem solid var(--borderColor-done-muted);
    --border-sponsors-emphasis: 0.0625rem solid var(--borderColor-sponsors-emphasis);
    --border-sponsors-muted: 0.0625rem solid var(--borderColor-sponsors-muted);
    --border-neutral-emphasis: var(--border-emphasis);
    --border-neutral-muted: var(--border-muted);

    /* Semantic State Border Shorthands */
    --border-open-emphasis: var(--border-success-emphasis);
    --border-open-muted: var(--border-success-muted);
    --border-closed-emphasis: var(--border-danger-emphasis);
    --border-closed-muted: var(--border-danger-muted);
    --border-upsell-emphasis: var(--border-done-emphasis);
    --border-upsell-muted: var(--border-done-muted);

    /* Shadows */
    --shadow-floating-legacy: 0px 6px 12px -3px #01040966, 0px 6px 18px 0px #01040966;
    --shadow-inset: inset 0px 1px 0px 0px #0104093d;
    --shadow-resting-medium: 0px 1px 1px 0px #01040966, 0px 3px 6px 0px #010409cc;
    --shadow-resting-small: 0px 1px 1px 0px #01040999, 0px 1px 3px 0px #01040999;
    --shadow-resting-xsmall: 0px 1px 1px 0px #010409cc;
    --shadow-floating-large: 0px 0px 0px 1px #3d444d, 0px 24px 48px 0px #010409;
    --shadow-floating-medium: 0px 0px 0px 1px #3d444d, 0px 8px 16px -4px #01040966, 0px 4px 32px -4px #01040966, 0px 24px 48px -12px #01040966, 0px 48px 96px -24px #01040966;
    --shadow-floating-small: 0px 0px 0px 1px #3d444d, 0px 6px 12px -3px #01040966, 0px 6px 18px 0px #01040966;
    --shadow-floating-xlarge: 0px 0px 0px 1px #3d444d, 0px 32px 64px 0px #010409;

    /* Avatars */
    --avatar-bgColor: #f5f5f5;
    --avatar-borderColor: var(--borderColor-translucent);
    --avatar-shadow: 0px 0px 0px 2px #0d1117;
    --avatarStack-fade-bgColor-default: #3d444d;
    --avatarStack-fade-bgColor-muted: #2a313c;

    /* Buttons */
    /* Primary Button */
    --button-primary-bgColor-rest: var(--bgColor-accent-emphasis);
    --button-primary-fgColor-rest: var(--fgColor-white);
    --button-primary-borderColor-rest: transparent;
    --button-primary-bgColor-hover: #5e4a81;
    --button-primary-bgColor-active: #524071;
    --button-primary-bgColor-disabled: #c4b7d7;
    --button-primary-fgColor-disabled: #f5f5f5;
    --button-primary-borderColor-disabled: var(--borderColor-default);

    /* Secondary Button */
    --button-secondary-bgColor-rest: #e0e0e0;
    --button-secondary-fgColor-rest: var(--fgColor-default);
    --button-secondary-borderColor-rest: var(--borderColor-default);
    --button-secondary-bgColor-hover: #c4d9b1;
    --button-secondary-borderColor-hover: var(--borderColor-default);
    --button-secondary-bgColor-active: var(--bgColor-default);
    --button-secondary-borderColor-active: var(--borderColor-default);
    --button-secondary-bgColor-disabled: var(--bgColor-muted);
    --button-secondary-fgColor-disabled: var(--fgColor-muted);
    --button-secondary-borderColor-disabled: var(--borderColor-muted);

    /* Danger Button */
    --button-danger-fgColor-rest: var(--fgColor-white);
    --button-danger-bgColor-rest: var(--bgColor-danger-emphasis);
    --button-danger-bgColor-hover: #d96d64;
    --button-danger-borderColor-rest: var(--button-danger-bgColor-rest);
    --button-danger-borderColor-hover: var(--button-danger-bgColor-hover);
    --button-danger-bgColor-active: #c05850;
    --button-danger-fgColor-active: var(--fgColor-white);
    --button-danger-fgColor-disabled: var(--fgColor-muted);
    --button-danger-borderColor-disabled: var(--borderColor-muted);

    /* Outline Button */
    --button-outline-bgColor-rest: var(--bgColor-transparent);
    --button-outline-fgColor-rest: var(--fgColor-link);
    --button-outline-borderColor-rest: var(--fgColor-link);
    --button-outline-bgColor-hover: rgba(112, 86, 151, 0.1);
    --button-outline-fgColor-hover: #5e4a81;
    --button-outline-borderColor-hover: #5e4a81;
    --button-outline-fgColor-disabled: rgba(112, 86, 151, 0.5);
    --button-outline-borderColor-disabled: rgba(112, 86, 151, 0.5);

    /* Form Controls (Checkboxes, Radios, etc.) */
    --control-bgColor-rest: var(--bgColor-default);
    --control-bgColor-hover: var(--bgColor-inset);
    --control-bgColor-active: var(--bgColor-default);
    --control-bgColor-disabled: var(--bgColor-disabled);
    --control-bgColor-selected: var(--control-bgColor-rest);
    --control-fgColor-rest: var(--fgColor-default);
    --control-fgColor-placeholder: var(--fgColor-disabled);
    --control-fgColor-disabled: var(--fgColor-disabled);
    --control-iconColor-rest: var(--fgColor-muted);
    --control-borderColor-rest: var(--borderColor-default);
    --control-borderColor-emphasis: var(--borderColor-emphasis);
    --control-borderColor-disabled: var(--borderColor-disabled);
    --control-borderColor-selected: var(--borderColor-accent-emphasis);

    /* State/Intent Control Borders */
    --control-borderColor-success: var(--borderColor-success-emphasis);
    --control-borderColor-danger: var(--borderColor-danger-emphasis);
    --control-borderColor-warning: var(--borderColor-attention-emphasis);

    /* Checked Controls */
    --control-checked-bgColor-rest: var(--bgColor-accent-emphasis);
    --control-checked-bgColor-hover: #5e4a81;
    --control-checked-bgColor-active: #524071;
    --control-checked-bgColor-disabled: var(--fgColor-disabled);
    --control-checked-fgColor-rest: var(--fgColor-onEmphasis);
    --control-checked-fgColor-disabled: var(--fgColor-default);
    --control-checked-borderColor-rest: var(--control-checked-bgColor-rest);
    --control-checked-borderColor-hover: var(--control-checked-bgColor-hover);
    --control-checked-borderColor-active: var(--control-checked-bgColor-active);
    --control-checked-borderColor-disabled: var(--control-checked-bgColor-disabled);

    /* Danger Controls */
    --control-danger-fgColor-rest: var(--fgColor-danger);

    /* Transparent Controls */
    --control-transparent-bgColor-rest: #00000000;
    --control-transparent-bgColor-hover: rgba(151, 105, 220, 0.1);
    --control-transparent-bgColor-active: rgba(151, 105, 220, 0.2);
    --control-transparent-bgColor-disabled: var(--bgColor-disabled);
    --control-transparent-bgColor-selected: rgba(151, 105, 220, 0.05);
    --control-transparent-borderColor-rest: #00000000;
    --control-transparent-borderColor-hover: #00000000;
    --control-transparent-borderColor-active: #00000000;

    /* Reaction Buttons */
    --reactionButton-selected-bgColor-hover: #3a8cfd5c;
    --reactionButton-selected-bgColor-rest: #388bfd33;
    --reactionButton-selected-fgColor-hover: #79c0ff;
    --reactionButton-selected-fgColor-rest: var(--fgColor-link);

    /* Header */
    --header-bgColor: #c4b7d7;
    --header-fgColor-default: var(--fgColor-default);
    --header-fgColor-logo: var(--fgColor-default);
    --header-borderColor-divider: var(--borderColor-default);

    /* Sidebar/Nav */
    --sidebar-bgColor: #F2F2F2;
    --sidebar-link-bgColor-hover: var(--bgColor-muted);

    /* Cards/Containers */
    --card-bgColor: var(--bgColor-muted);

    /* Overlays/Modals */
    --overlay-bgColor: var(--bgColor-muted);
    --overlay-borderColor: var(--borderColor-muted);

    /* Misc Components */
    --page-header-bgColor: var(--bgColor-default);
    --skeletonLoader-bgColor: #656c7633;
    --timelineBadge-bgColor: #212830;
    --topicTag-borderColor: #00000000;
    --menu-bgColor-active: var(--bgColor-muted);
    --main-content-bgColor: var(--bgColor-default);
    --highlight-neutral-bgColor: #d2992266;
    --selectMenu-bgColor-active: #0c2d6b;
    --selectMenu-borderColor: var(--borderColor-default);
    --selectMenu-borderColor: var(--borderColor-default);

    /* Focus Styles */
    --focus-ring-color: var(--borderColor-accent-emphasis);
    --focus-outline: 2px solid var(--focus-ring-color);
    --focus-outlineColor: var(--focus-ring-color);
}
